<!-- <h1>{serviceName}</h1> -->
<h2 class="title">{{service.serviceName}}</h2>

<div class="service-store">

	<button type="button" class="btnbookings" (click)="bookinghistory()">My Bookings</button>

	<div class="header">
	 <div class="browse">
	  <!-- <div class="browse-category">
	   Browse Services
	   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
		<path d="M6 9l6 6 6-6" /></svg>
	  </div> 
	  <div class="search-bar">
	   <input type="text" placeholder="Search Service" />
	  </div>-->
<div><h1></h1></div>

<div class="form-popup" id="myForm">
	<form  class="form-container">
  
	  <label for="date"><b>Date</b></label>
	  <input type="Date" name="email" required>
		<br><br>
	  <label for="time"><b>Time</b></label>
	  <input type="time" name="time" required>
	  <br><br>

	  <label for="address"><b>Address</b></label>
	  <input type="textarea" name="address" required>
	  <br><br>

	  <label for="price"><b>Price</b></label>
	  <input type="price" name="price" required readonly>
	  <br><br>


	  <button type="submit" class="btn">Confirm</button>
	  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
  </div>

	</div>
	</div>
	<div class="service-slide">
	 <div class="service js-flickity" data-flickity-options='{ "wrapAround": true }'>


		<div class="card" *ngFor="let p of prof ">

			<div class="service-cell">
				<div class="service-img">
				 <img src="https://zaroorat-app.s3.ap-south-1.amazonaws.com/painter.jpg" class="service-photo">
				</div>
				<div class="service-content">
				 <div class="service-title" >Name: {{p.name}}</div>
				 <div class="service-title" >Address: {{p.address}}</div>
				 <div class="service-title" >City: {{p.city}}</div>
				 <div class="service-title" >Contact No: {{p.contactNo}}</div>
				 <div class="service-title" >Email Id: {{p.emailId}}</div>
				 
				 <!-- <div class="service-author"></div> -->
				 <div class="rate">
				  <fieldset class="rating">
				   <input type="checkbox" id="star5" name="rating" value="5" />
				   <label class="full" for="star5"></label>
				   <input type="checkbox" id="star4" name="rating" value="4" />
				   <label class="full" for="star4"></label>
				   <input type="checkbox" id="star3" name="rating" value="3" />
				   <label class="full" for="star3"></label>
				   <input type="checkbox" id="star2" name="rating" value="2" />
				   <label class="full" for="star2"></label>
				   <input type="checkbox" id="star1" name="rating" value="1" />
				   <label class="full" for="star1"></label>
				  </fieldset>
				  <span class="service-voters">{{p.rating}}</span>
				 <!-- <div class="service-sum">Has 10 years of experience and has excellent reiews.</div> -->
				 <div class="service-see" (click)="bookingConfirm()">Book for service</div>
			   </div>

			<!-- <p class="profile-ratings">
				<i class="fas fa-paint-roller col-yellow"></i></p>
		  <div class="content">
		
			<h2 class="title">{{service.serviceName}}</h2>
			<p class="copy"></p>
			<button class="btn" (click)="book(service.serviceId, service.serviceName)">Book Now</button>
		  </div> -->
		</div>

 
	 </div>
	 <br>
	</div>


	</div>
  
  

	
